:root {
  font-family: 'Nunito', sans-serif;
  --primary-text: mediumpurple;
  --secondary-text: dimgray;
  --primary-background: white;
}

body {
  background-color: var(--primary-background);
  margin: 0;
}

.hidden {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar .navbar_header {
  margin: 0.5rem 0.5rem;
}

.navbar .navbar_header .navbar_header-mobile {
  display: flex;
  justify-content: space-between;
}

.navbar .navbar_header .navbar_header-mobile .svg_logo,
.navbar .navbar_header .navbar_header-mobile .svg_hamburger,
.navbar .navbar_header .navbar_header-mobile .svg_x {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--primary-text);
}

.navbar .navbar_dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1rem;
}

.navbar .navbar_dropdown .navbar_dropdown-link {
  margin: 0.5rem 0;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--secondary-text);
}

.navbar .navbar_dropdown .navbar_dropdown-link.active {
  font-weight: 900;
  color: var(--primary-text);
}

.navbar .navbar_dropdown .navbar_dropdown-link.active::before {
  content: "--> ";
}


@media (min-width: 800px){
  .navbar .navbar_header .navbar_header-mobile,
  .navbar .navbar_dropdown {
    display: none;
  }  
}