:root {
  font-family: 'Nunito', sans-serif;
  --primary-text: mediumpurple;
  --secondary-text: mediumaquamarine;
  --tertiary-text: slategray;
  --primary-background: ghostwhite;
  --secondary-background: mintcream; 
}

body {
  background-color: var(--primary-background);
  margin: 0;
}

.hidden {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar .navbar_header {
  margin: 0.5rem 0.5rem;
}

.navbar .navbar_header .navbar_header-mobile {
  display: flex;
  justify-content: space-between;
}

.navbar .navbar_header .navbar_header-mobile .svg_logo,
.navbar .navbar_header .navbar_header-mobile .svg_hamburger,
.navbar .navbar_header .navbar_header-mobile .svg_x,
.navbar .navbar_header .navbar_header-desktop .svg_logo {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--primary-text);
}

.navbar .navbar_dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem 1rem 1rem 0;
  background-color: var(--secondary-background);
  border-top: 1px solid var(--primary-text);
  border-bottom: 1px solid var(--primary-text);
}

.navbar .navbar_dropdown .navbar_dropdown-link {
  margin: 0.5rem 0;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--secondary-text);
}

.navbar .navbar_dropdown .navbar_dropdown-link.active {
  font-weight: 900;
  color: var(--primary-text);
}

.navbar .navbar_dropdown .navbar_dropdown-link.active::before {
  content: "--> ";
}
.navbar .navbar_dropdown .navbar_dropdown-logout {
  margin: 0.5rem 0;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--tertiary-text);
  border: none;
  background: none;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
}

.navbar .navbar_header-desktop {
  display: none;
}

.signup_page,
.login_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup_page .signup_page-container,
.login_page .login_page-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.signup_page-title,
.login_page-title {
  text-align: center;
  color: var(--primary-text);
}

.signup_page-login-container,
.login_page-signup-container {
  text-align: center;
  margin: 3rem 0 0 0;
}

.signup_page-login-link,
.login_page-signup-link {
  font-weight: bold;
  color: var(--primary-text)
}

.signup_form .signup_form-group,
.login_form .login_form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.signup_form .signup_form-group .signup_form-label,
.login_form .login_form-group .login_form-label {
  color: var(--secondary-text);
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.signup_form .signup_form-group .signup_form-input,
.login_form .login_form-group .login_form-input {
  background-color: var(--secondary-background);
  border: 1px solid var(--primary-text);
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-text);
}

.signup_form .signup_form-group .signup_form-input:focus,
.signup_form .signup_form-group .signup_form-input:active,
.login_form .login_form-group .login_form-input:focus,
.login_form .login_form-group .login_form-input:active {
  outline: 3px solid var(--primary-text);
}

.signup_form .signup_form-group .signup_form-button,
.login_form .login_form-group .login_form-button {
    background-color: var(--primary-text);
    border: none;
    border-radius: 5px;
    padding: 1rem 0.5rem;
    margin-top: 2rem;
    cursor: pointer;
    color: var(--primary-background);
    font-weight: bold;
    font-size: 1rem;
}

.signup_form .signup_form-group .signup_form-button:hover,
.login_form .login_form-group .login_form-button:hover {
  text-decoration: underline;
  transform: translateY(1px)
}

.signup_form .signup_form-error,
.login_form .login_form-error {
  color: red;
  font-weight: bold;
  text-align: center;
}

.dashboard_page {

}

.dashboard_page .dashboard_page-title {
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--primary-text)
}

.dashboard_page .dashboard_page-stats-container{

}

.jobapp_page .jobapp_page-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobapp_page .jobapp_page-title {
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--primary-text)
}

.jobapp_page .jobapp_page-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobapp_page .jobapp_page-title-container .jobapp_page-title-back-link {
  text-decoration: none;
  margin: 2rem 0 1rem 0;
}

.jobapp_page .jobapp_page-title-container .jobapp_page-title-back-button {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color: var(--tertiary-text);
  border-radius: 5px;
  border: 1px solid var(--primary-text);
  background-color: var(--secondary-background);
  cursor: pointer;
}

.jobapp_page .jobapp_page-title-container .jobapp_page-title-back-button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.jobapp_page .jobapp_page-title-container .jobapp_page-title-back-button span {
  font-weight: 900;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.jobapp_page .jobapp_page-notes-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobapp_page .jobapp_page-notes-title-container .jobapp_page-notes-title {
  color: var(--primary-text);
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
}

.jobapp_page .jobapp_page-notes-title-container .jobapp_page-notes-create-container {
  align-self: stretch;
}

.note_container {
  position: relative;
  border: 1px solid var(--primary-text);
  border-radius: 5px;
  background-color: var(--secondary-background);
  padding: 1rem;
  margin: 1rem;
  font-weight: bold;
}

.note_container-create {
  position: relative;
  border: 1px solid var(--primary-text);
  border-radius: 5px;
  background-color: var(--secondary-background);
  padding: 1rem;
  margin: 1rem;
  font-weight: bold;
}

.note_container .note_createdAt {
  margin-bottom: 1rem;
}

.note_container .note_createdAt-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.note_container .note_createdAt-value {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.note_container .note_updatedAt {
  margin-bottom: 1rem;
}

.note_container .note_updatedAt-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.note_container .note_updatedAt-value {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.note_container .note_content {
  margin-bottom: 1rem;
}

.note_container .note_content-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.note_container .note_content-value {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.note_container-create .note_content {
  display: flex;
  flex-direction: column;
}

.note_container-create .note_content-descriptor {
  color: var(--secondary-text);
  font-size: 1.25rem;
  font-weight: 900;
}

.note_container-create .note_content-value {
  border-radius: 5px;
  border: 1px solid var(--primary-text);
}

.note_container-create .note_submit-or-cancel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.note_container-create .note_cancel-create-button {
  flex: 1;
  margin: 0.5rem 0.5rem 0 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.note_container-create .note_submit-create-button {
  flex: 1;
  margin: 0.5rem 0 0 0.5rem;
}

.note_create-button{
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color: var(--tertiary-text);
  border-radius: 5px;
  border: 1px solid var(--primary-text);
  background-color: var(--secondary-background);
  cursor: pointer;
}

.note_create-button svg{
  width: 1.5rem;
  height: 1.5rem;
}

.note_create-button span{
  font-weight: 900;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.note_edit-button-container{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%)
}

.note_edit-button{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color: var(--tertiary-text);
  border: none;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

.note_edit-button svg{
  width: 2rem;
}

/* .note_edit-button span{
  font-weight: 900;
  font-size: 1.2rem;
  padding-left: 0.5rem;
} */

.timeremaining_container {

}

.timeremaining_container .timeremaining_title {
  color: var(--secondary-text);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 900;
}

.timeremaining_container .timeremaining_time {
  text-align: center;
  color: var(--tertiary-text);
  font-weight: bold;
}

.jobappdailycount_container {

}

.jobappdailycount_title {
  color: var(--secondary-text);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 900;
}

.jobappdailycount_count {
  
}

.jobappdailycount_count-loading {
  
}

.jobappdailycount_count-display {
  text-align: center;
  color: var(--tertiary-text);
  font-weight: bold;
}

.jobappdailycount_count-error {
  
}

.jobapp_list {

}

.jobapp_list-title {
  color: var(--primary-text);
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
}

.jobapp_list-none-found {
  text-align: center;
  color: var(--tertiary-text);
  margin: 5rem 2rem;
}

.jobapp_container {
  border: 1px solid var(--primary-text);
  border-radius: 5px;
  background-color: var(--secondary-background);
  padding: 1rem;
  margin: 1rem;
  font-weight: bold;
}

/* .jobapp_container:hover {
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
} */  

.jobapp_container .jobapp_company {
  margin-bottom: 1rem;
}

.jobapp_container .jobapp_company .jobapp_company-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.jobapp_container .jobapp_company .jobapp_company-value {
  color: var(--primary-text);
  font-size: 1.5rem;
  font-weight: 900;
}

.jobapp_container .jobapp_title {
  margin-bottom: 1rem;
}

.jobapp_container .jobapp_title .jobapp_title-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.jobapp_container .jobapp_title .jobapp_title-value {
  color: var(--secondary-text);
  font-size: 1.25rem;
  font-weight: 900;
}

.jobapp_container .jobapp_description {
  margin-bottom: 1rem;
}

.jobapp_container .jobapp_description .jobapp_description-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.jobapp_container .jobapp_description .jobapp_description-value {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.jobapp_container .jobapp_companyUrl {
  margin-bottom: 1rem;
}

.jobapp_container .jobapp_companyUrl .jobapp_companyUrl-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.jobapp_container .jobapp_companyUrl .jobapp_companyUrl-value{
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.jobapp_container .jobapp_companyUrl .jobapp_companyUrl-value a {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.jobapp_container .jobapp_createdAt {
  margin-bottom: 1rem;
}

.jobapp_container .jobapp_createdAt .jobapp_createdAt-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.jobapp_container .jobapp_createdAt .jobapp_createdAt-value {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}


@media (min-width: 800px){

  .navbar .navbar_header {}

  .navbar .navbar_header .navbar_header-mobile,
  .navbar .navbar_dropdown {
    display: none;
  }

  .navbar .navbar_header-desktop {
    margin: 0 1rem;
    display: flex;
  }

  .navbar .navbar_header-desktop .navbar_header-desktop_link-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .navbar .navbar_header-desktop .navbar_header-desktop_link {
    margin: 0.5rem 0 0.5rem 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--secondary-text);
  }

  .navbar .navbar_header-desktop .navbar_header-desktop_link.active {
    font-weight: 900;
    color: var(--primary-text);
    text-decoration: underline;
  }

  .navbar .navbar_header-desktop .navbar_header-desktop_logout {
    margin: 0 0 0 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--tertiary-text);
    border: none;
    background: none;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
  }

  .dashboard_page .dashboard_page-stats-container{
    display: flex;
    justify-content: space-evenly;
  }

  .jobapp_container {
    display: flex;
  }

  .signup_page .signup_page-container,
  .login_page .login_page-container {
    width: 400px;
  }
}

@media (min-width: 1200px){

}