:root {
  font-family: 'Nunito', sans-serif;
  --primary-text: mediumpurple;
  --secondary-text: mediumaquamarine;
  --tertiary-text: slategray;
  --primary-background: ghostwhite;
  --secondary-background: mintcream; 
}

body {
  background-color: var(--primary-background);
  margin: 0;
}

.hidden {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar .navbar_header {
  margin: 0.5rem 0.5rem;
}

.navbar .navbar_header .navbar_header-mobile {
  display: flex;
  justify-content: space-between;
}

.navbar .navbar_header .navbar_header-mobile .svg_logo,
.navbar .navbar_header .navbar_header-mobile .svg_hamburger,
.navbar .navbar_header .navbar_header-mobile .svg_x,
.navbar .navbar_header .navbar_header-desktop .svg_logo {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--primary-text);
}

.navbar .navbar_dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem 1rem 1rem 0;
  background-color: var(--secondary-background);
  border-top: 1px solid var(--primary-text);
  border-bottom: 1px solid var(--primary-text);
}

.navbar .navbar_dropdown .navbar_dropdown-link {
  margin: 0.5rem 0;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--secondary-text);
}

.navbar .navbar_dropdown .navbar_dropdown-link.active {
  font-weight: 900;
  color: var(--primary-text);
}

.navbar .navbar_dropdown .navbar_dropdown-link.active::before {
  content: "--> ";
}
.navbar .navbar_dropdown .navbar_dropdown-logout {
  margin: 0.5rem 0;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--tertiary-text);
  border: none;
  background: none;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
}

.navbar .navbar_header-desktop {
  display: none;
}

.signup_page,
.login_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup_page .signup_page-container,
.login_page .login_page-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.signup_page-title,
.login_page-title {
  text-align: center;
  color: var(--primary-text);
  font-weight: 900;
}

.signup_page-login-container,
.login_page-signup-container {
  text-align: center;
  margin: 1.5rem 0 3rem 0;
}

.signup_page-login-link,
.login_page-signup-link {
  font-weight: bold;
  color: var(--primary-text)
}

.login_page-request-password-reset-container{
  text-align: center;
  margin: 1.5rem 0 0 0;
}

.login_page-request-password-reset-link {
  font-weight: bold;
  color: var(--tertiary-text)
}

.signup_form .signup_form-group,
.login_form .login_form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.signup_form .signup_form-group .signup_form-label,
.login_form .login_form-group .login_form-label {
  color: var(--secondary-text);
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.signup_form .signup_form-group .signup_form-input,
.login_form .login_form-group .login_form-input {
  background-color: var(--secondary-background);
  border: 1px solid var(--primary-text);
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-text);
}

.signup_form .signup_form-group .signup_form-input:focus,
.signup_form .signup_form-group .signup_form-input:active,
.login_form .login_form-group .login_form-input:focus,
.login_form .login_form-group .login_form-input:active {
  outline: 3px solid var(--primary-text);
}

.signup_form .signup_form-group .signup_form-button,
.login_form .login_form-group .login_form-button {
    background-color: var(--primary-text);
    border: none;
    border-radius: 5px;
    padding: 1rem 0.5rem;
    margin-top: 2rem;
    cursor: pointer;
    color: var(--primary-background);
    font-weight: 900;
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
}

.signup_form .signup_form-group .signup_form-button:hover,
.login_form .login_form-group .login_form-button:hover {
  text-decoration: underline;
  transform: translateY(1px)
}

.signup_form .signup_form-error,
.login_form .login_form-error {
  color: red;
  font-weight: bold;
  text-align: center;
}

.request-password-reset_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.request-password-reset_page .request-password-reset_page-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.request-password-reset_title {
  text-align: center;
  color: var(--primary-text);
  font-weight: 900;
}

.request-password-reset_note {
  color: var(--tertiary-text);
  font-weight: 900;
}

.request-password-reset_form .request-password-reset_form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.request-password-reset_form .request-password-reset_form-group .request-password-reset_form-label {
  color: var(--secondary-text);
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.request-password-reset_form .request-password-reset_form-group .request-password-reset_form-input {
  background-color: var(--secondary-background);
  border: 1px solid var(--primary-text);
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-text);
}

.request-password-reset_form .request-password-reset_form-group .request-password-reset_form-input:focus,
.request-password-reset_form .request-password-reset_form-group .request-password-reset_form-input:active {
  outline: 3px solid var(--primary-text);
}

.request-password-reset_form .request-password-reset_form-group .request-password-reset_form-button {
    background-color: var(--primary-text);
    border: none;
    border-radius: 5px;
    padding: 1rem 0.5rem;
    margin-top: 2rem;
    cursor: pointer;
    color: var(--primary-background);
    font-weight: 900;
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
}

.request-password-reset_form .request-password-reset_form-group .request-password-reset_form-button:hover {
  text-decoration: underline;
  transform: translateY(1px)
}

.request-password-reset_form-error {
  color: red;
  font-weight: 900;
  text-align: center;
}

.request-password-reset_form-success {
  color: var(--secondary-text);
  font-weight: 900;
  text-align: center;
}

.password-reset_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-reset_page .password-reset_page-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.password-reset_title {
  text-align: center;
  color: var(--primary-text);
  font-weight: 900;
}

.password-reset_note {
  color: var(--tertiary-text);
  font-weight: 900;
}

/* start --------------------------------------------- */
.password-reset_form .password-reset_form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.password-reset_form .password-reset_form-group .password-reset_form-label {
  color: var(--secondary-text);
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.password-reset_form .password-reset_form-group .password-reset_form-input {
  background-color: var(--secondary-background);
  border: 1px solid var(--primary-text);
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-text);
}

.password-reset_form .password-reset_form-group .password-reset_form-input:focus,
.password-reset_form .password-reset_form-group .password-reset_form-input:active {
  outline: 3px solid var(--primary-text);
}

.password-reset_form .password-reset_form-group .password-reset_form-button {
    background-color: var(--primary-text);
    border: none;
    border-radius: 5px;
    padding: 1rem 0.5rem;
    margin-top: 2rem;
    cursor: pointer;
    color: var(--primary-background);
    font-weight: 900;
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
}

.password-reset_form .password-reset_form-group .password-reset_form-button:hover {
  text-decoration: underline;
  transform: translateY(1px)
}

.password-reset_form-error {
  color: red;
  font-weight: 900;
  text-align: center;
}

.password-reset_form-success {
  color: var(--secondary-text);
  font-weight: 900;
  text-align: center;
}

.password-reset_form-success-button-container {
  display: flex;
  justify-content: center;
}

.password-reset_form-success-button-container .password-reset_form-navigate-button {
  background-color: var(--primary-text);
  border: none;
  border-radius: 5px;
  padding: 1rem 3rem;
  margin-top: 2rem;
  cursor: pointer;
  color: var(--primary-background);
  font-weight: 900;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
}

.password-reset_form-success-button-container .password-reset_form-navigate-button:hover {
  text-decoration: underline;
  transform: translateY(1px)
}

/* end ----------------------------------------------*/

.profile_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_page .profile_page-container {
  margin: 0 1rem 3rem 1rem;
}

.profile_page .profile_page-title {
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--primary-text)
}

.profile_page-container .profile_email {
  margin-bottom: 1rem;
}

.profile_page-container .profile_email-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.profile_page-container .profile_email-value {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.profile_page-container .profile_firstName {
  margin-bottom: 1rem;
}

.profile_page-container .profile_firstName-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.profile_page-container .profile_firstName-value {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.profile_page-container .profile_lastName {
  margin-bottom: 1rem;
}

.profile_page-container .profile_lastName-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.profile_page-container .profile_lastName-value {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.profile_page-container .profile_note {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
  margin-top: 3rem;
}

.home_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_page .home_page-container {
  margin: 0 1rem 3rem 1rem;
}

.home_page .home_page-title {
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--primary-text)
}

.home_page-container .home_note {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
  margin-top: 3rem;
  text-align: center;
}

.about_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_page .about_page-container {
  margin: 0 1rem 3rem 1rem;
}

.about_page .about_page-title {
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--primary-text)
}

.about_page-container .about_note {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
  margin-top: 3rem;
  text-align: center;
}

.faq_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq_page .faq_page-container {
  margin: 0 1rem 3rem 1rem;
}

.faq_page .faq_page-title {
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--primary-text)
}

.faq_page-container .faq_note {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
  margin-top: 3rem;
  text-align: center;
}

.faq_page-container .faq_note .faq_list{
  color: var(--secondary-text);
  font-size: 1.5rem;
}

.faq_page-container .faq_note .faq_list .faq_list-item{
  color: var(--secondary-text);
  text-align: left;
}

.faq_page-container .faq_note .faq_list .faq_list-item ul li{
  color: var(--tertiary-text);
}

.faq_page-container .faq_note .faq_list .faq_list-item ul li a{
  color: var(--tertiary-text);
}

.dashboard_page {

}

.dashboard_page .dashboard_page-title {
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--primary-text)
}

.dashboard_page .dashboard_page-stats-container{

}

.jobapp_page .jobapp_page-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobapp_page .jobapp_page-title {
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--primary-text)
}

.jobapp_page .jobapp_page-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobapp_page .jobapp_page-title-container .jobapp_page-title-back-link {
  text-decoration: none;
  margin: 2rem 0 1rem 0;
}

.jobapp_page .jobapp_page-title-container .jobapp_page-title-back-button {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color: var(--tertiary-text);
  border-radius: 5px;
  border: 1px solid var(--primary-text);
  background-color: var(--secondary-background);
  cursor: pointer;
}

.jobapp_page .jobapp_page-title-container .jobapp_page-title-back-button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.jobapp_page .jobapp_page-title-container .jobapp_page-title-back-button span {
  font-weight: 900;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.jobapp_page .jobapp_page-notes-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobapp_page .jobapp_page-notes-title-container .jobapp_page-notes-title {
  color: var(--primary-text);
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
}

.jobapp_page .jobapp_page-notes-title-container .jobapp_page-notes-create-container {
  align-self: stretch;
}

.jobapp_page .jobapp_page_notes-container h3 {
  font-weight: 900;
  color: var(--tertiary-text);
  text-align: center;
  margin: 1rem;
}

.note_container {
  position: relative;
  border: 1px solid var(--primary-text);
  border-radius: 5px;
  background-color: var(--secondary-background);
  padding: 1rem;
  margin: 1rem;
  font-weight: bold;
}

.note_container-create {
  position: relative;
  border: 1px solid var(--primary-text);
  border-radius: 5px;
  background-color: var(--secondary-background);
  padding: 1rem;
  margin: 1rem;
  font-weight: bold;
}

.note_container-edit {
  position: relative;
  border: 1px solid var(--primary-text);
  border-radius: 5px;
  background-color: var(--secondary-background);
  padding: 1rem;
  margin: 1rem;
  font-weight: bold;
}

.note_container .note_createdAt {
  margin-bottom: 1rem;
}

.note_container .note_createdAt-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.note_container .note_createdAt-value {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.note_container .note_updatedAt {
  margin-bottom: 1rem;
}

.note_container .note_updatedAt-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.note_container .note_updatedAt-value {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.note_container .note_content {
  margin-bottom: 1rem;
  overflow-wrap: anywhere;
}

.note_container .note_content-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.note_container .note_content-value {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.note_container-edit .note_createdAt {
  margin-bottom: 1rem;
}

.note_container-edit .note_createdAt-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.note_container-edit .note_createdAt-value {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.note_container-edit .note_updatedAt {
  margin-bottom: 1rem;
}

.note_container-edit .note_updatedAt-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.note_container-edit .note_updatedAt-value {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.note_container-edit .note_content {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.note_container-edit .note_content-descriptor {
  color: var(--secondary-text);
  font-size: 1.25rem;
  font-weight: 900;
}

.note_container-edit .note_content-value {
  border-radius: 5px;
  border: 1px solid var(--secondary-text);
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  padding: 1rem;
}

.note_container-edit .note_content-value:focus,
.note_container-edit .note_content-value:active {
  outline: 3px solid var(--secondary-text);
}

.note_container-edit .note_submit-or-cancel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.note_container-edit .note_cancel-edit-button {
  flex: 1;
  margin: 0.5rem 0.5rem 0 0;
  background-color: var(--tertiary-text);
  border: none;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  cursor: pointer;
  color: var(--primary-background);
  font-weight: 900;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
}

.note_container-edit .note_submit-edit-button {
  flex: 1;
  margin: 0.5rem 0 0 0.5rem;
  background-color: var(--secondary-text);
  border: none;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  cursor: pointer;
  color: var(--primary-background);
  font-weight: 900;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
}

.note_container-create .note_content {
  display: flex;
  flex-direction: column;
}

.note_container-create .note_content-descriptor {
  color: var(--secondary-text);
  font-size: 1.25rem;
  font-weight: 900;
}

.note_container-create .note_content-value {
  border-radius: 5px;
  border: 1px solid var(--secondary-text);
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  padding: 1rem;
}

.note_container-create .note_content-value:focus,
.note_container-create .note_content-value:active {
  outline: 3px solid var(--secondary-text);
}

.note_container-create .note_submit-or-cancel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.note_container-create .note_cancel-create-button {
  flex: 1;
  margin: 0.5rem 0.5rem 0 0;
  background-color: var(--tertiary-text);
  border: none;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  cursor: pointer;
  color: var(--primary-background);
  font-weight: 900;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
}

.note_container-create .note_submit-create-button {
  flex: 1;
  margin: 0.5rem 0 0 0.5rem;
  background-color: var(--secondary-text);
  border: none;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  cursor: pointer;
  color: var(--primary-background);
  font-weight: 900;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
}

.note_create-button{
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color: var(--tertiary-text);
  border-radius: 5px;
  border: 1px solid var(--primary-text);
  background-color: var(--secondary-background);
  cursor: pointer;
}

.note_create-button svg{
  width: 1.5rem;
  height: 1.5rem;
}

.note_create-button span{
  font-weight: 900;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.note_create-error-message {
  color: red;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.note_create-success-message {
  color: var(--secondary-text);
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.note_edit-button-container{
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-1rem, 1rem)
}

.note_edit-button{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color: var(--tertiary-text);
  border: none;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

.note_edit-button svg{
  width: 2rem;
}

.note_edit-options-container {
  flex-direction: column;
  border: 1px solid var(--secondary-text);
  border-radius: 5px;
  background-color: var(--secondary-background);
}

.note_edit-options-container .note_edit-option-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}

.note_edit-options-container .note_edit-option-item svg {
  width: 1rem;
  height: 1rem;
}

.note_edit-options-container .note_edit-option-item span {
  padding-left: 0.5rem;
  flex: 1;
}

.note_edit-options-container .note_edit-option-item.close{
  color: var(--tertiary-text);
}

.note_edit-options-container .note_edit-option-item.edit{
  color: var(--primary-text);
}

.note_edit-options-container .note_edit-option-item.delete{
  color: red;
}

.note_edit-error-message {
  color: red;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.note_edit-success-message {
  color: var(--secondary-text);
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.timeremaining_container {

}

.timeremaining_container .timeremaining_title {
  color: var(--secondary-text);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 900;
}

.timeremaining_container .timeremaining_time {
  text-align: center;
  color: var(--tertiary-text);
  font-weight: bold;
}

.jobappdailycount_container {

}

.jobappdailycount_title {
  color: var(--secondary-text);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 900;
}

.jobappdailycount_count {
  
}

.jobappdailycount_count-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobappdailycount_count-display {
  text-align: center;
  color: var(--tertiary-text);
  font-weight: bold;
}

.jobappdailycount_count-error {
  
}

.jobapp_list {

}

.jobapp_list-title {
  color: var(--primary-text);
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
}

.jobapp_list-filter-container{
  text-align: center;
  margin: 2rem 0;
}

.jobapp_list-filter-container .jobapp_list-filter-input {
  border: 1px solid var(--tertiary-text);
  border-radius: 5px;
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
  padding: 1rem;
  font-family: "Nunito", sans-serif;
}
.jobapp_list-filter-container .jobapp_list-filter-input:focus,
.jobapp_list-filter-container .jobapp_list-filter-input:active {
  outline: 3px solid var(--tertiary-text);
}

.jobapp_list-filter-container .jobapp_list-filter-input::placeholder {
  color: var(--tertiary-text);
}

.jobapp_list-filter-container .jobapp_list-filter-info {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.jobapp_list-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobapp_list-none-found {
  text-align: center;
  color: var(--tertiary-text);
  margin: 5rem 2rem;
}

.jobapp_container-create {
  position: relative;
  border: 1px solid var(--primary-text);
  border-radius: 5px;
  background-color: var(--secondary-background);
  padding: 1rem;
  margin: 1rem;
  font-weight: bold;
}

.jobapp_container-edit {
  position: relative;
  border: 1px solid var(--primary-text);
  border-radius: 5px;
  background-color: var(--secondary-background);
  padding: 1rem;
  margin: 1rem;
  font-weight: bold;
}

.jobapp_container {
  border: 1px solid var(--primary-text);
  border-radius: 5px;
  background-color: var(--secondary-background);
  padding: 1rem;
  margin: 1rem;
  font-weight: bold;
  overflow-wrap: anywhere;
  position: relative;
}

/* .jobapp_container:hover {
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
} */  

.jobapp_container .jobapp_company {
  margin-bottom: 1rem;
}

.jobapp_container .jobapp_company .jobapp_company-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.jobapp_container .jobapp_company .jobapp_company-value {
  color: var(--primary-text);
  font-size: 1.5rem;
  font-weight: 900;
}

.jobapp_container .jobapp_title {
  margin-bottom: 1rem;
}

.jobapp_container .jobapp_title .jobapp_title-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.jobapp_container .jobapp_title .jobapp_title-value {
  color: var(--secondary-text);
  font-size: 1.25rem;
  font-weight: 900;
}

.jobapp_container .jobapp_description {
  margin-bottom: 1rem;
}

.jobapp_container .jobapp_description .jobapp_description-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.jobapp_container .jobapp_description .jobapp_description-value {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.jobapp_container .jobapp_companyUrl {
  margin-bottom: 1rem;
}

.jobapp_container .jobapp_companyUrl .jobapp_companyUrl-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.jobapp_container .jobapp_companyUrl .jobapp_companyUrl-value{
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.jobapp_container .jobapp_companyUrl .jobapp_companyUrl-value a {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.jobapp_container .jobapp_status {
  margin-bottom: 1rem;
}

.jobapp_container .jobapp_status .jobapp_status-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.jobapp_container .jobapp_status .jobapp_status-value {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.jobapp_container .jobapp_createdAt {
  margin-bottom: 1rem;
}

.jobapp_container .jobapp_createdAt .jobapp_createdAt-descriptor {
  color: var(--tertiary-text);
  font-size: 0.75rem;
}

.jobapp_container .jobapp_createdAt .jobapp_createdAt-value {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.jobapp_container .jobapp_see-details {
  align-self: flex-start;
  border: 1px solid var(--secondary-text);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.jobapp_container .jobapp_see-details span{
  color: var(--tertiary-text);
  font-size: 1.2rem;
  font-weight: 900;
  padding-right: 0.5rem;
}

.jobapp_container .jobapp_see-details svg{
  height: 1.5rem;
  width: 1.5rem;
  color: var(--tertiary-text);
}



.jobapp_container-edit .jobapp_company{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.jobapp_container-edit .jobapp_company .jobapp_company-descriptor {
  color: var(--primary-text);
  font-size: 1.5rem;
  font-weight: 900;
}

.jobapp_container-edit .jobapp_company .jobapp_company-value {
  border: 1px solid var(--primary-text);
  border-radius: 5px;
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
  padding: 1rem;
  font-family: "Nunito", sans-serif;
}

.jobapp_container-edit .jobapp_company .jobapp_company-value:focus,
.jobapp_container-edit .jobapp_company .jobapp_company-value:active {
  outline: 3px solid var(--primary-text);
}

.jobapp_container-edit .jobapp_title {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.jobapp_container-edit .jobapp_title .jobapp_title-descriptor {
  color: var(--secondary-text);
  font-size: 1.25rem;
  font-weight: 900;
}

.jobapp_container-edit .jobapp_title .jobapp_title-value {
  border: 1px solid var(--secondary-text);
  border-radius: 5px;
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
  padding: 1rem;
  font-family: "Nunito", sans-serif;
}

.jobapp_container-edit .jobapp_title .jobapp_title-value:focus,
.jobapp_container-edit .jobapp_title .jobapp_title-value:active {
  outline: 3px solid var(--secondary-text);
}

.jobapp_container-edit .jobapp_description {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.jobapp_container-edit .jobapp_description .jobapp_description-descriptor {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.jobapp_container-edit .jobapp_description .jobapp_description-value {
  border: 1px solid var(--tertiary-text);
  border-radius: 5px;
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
  padding: 1rem;
  font-family: "Nunito", sans-serif;
}

.jobapp_container-edit .jobapp_companyUrl {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.jobapp_container-edit .jobapp_companyUrl .jobapp_companyUrl-descriptor {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.jobapp_container-edit .jobapp_companyUrl .jobapp_companyUrl-value {
  border: 1px solid var(--tertiary-text);
  border-radius: 5px;
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
  padding: 1rem;
  font-family: "Nunito", sans-serif;
}

.jobapp_container-edit .jobapp_status {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.jobapp_container-edit .jobapp_status .jobapp_status-descriptor {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.jobapp_container-edit .jobapp_status .jobapp_status-value {
  border: 1px solid var(--tertiary-text);
  border-radius: 5px;
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
  padding: 1rem;
  font-family: "Nunito", sans-serif;
  background-color: white;
}

.jobapp_container-edit .jobapp_description .jobapp_description-value:focus,
.jobapp_container-edit .jobapp_description .jobapp_description-value:active,
.jobapp_container-edit .jobapp_companyUrl .jobapp_companyUrl-value:focus,
.jobapp_container-edit .jobapp_companyUrl .jobapp_companyUrl-value:active,
.jobapp_container-edit .jobapp_status .jobapp_status-value:focus,
.jobapp_container-edit .jobapp_status .jobapp_status-value:active {
  outline: 3px solid var(--tertiary-text);
}

.jobapp_container-edit .jobapp_submit-or-cancel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.jobapp_container-edit .jobapp_cancel-edit-button {
  flex: 1;
  margin: 0.5rem 0.5rem 0 0;
  background-color: var(--tertiary-text);
  border: none;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  cursor: pointer;
  color: var(--primary-background);
  font-weight: bold;
  font-size: 1rem;
}

.jobapp_container-edit .jobapp_submit-edit-button {
  flex: 1;
  margin: 0.5rem 0 0 0.5rem;
  background-color: var(--secondary-text);
  border: none;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  cursor: pointer;
  color: var(--primary-background);
  font-weight: bold;
  font-size: 1rem;
}

.jobapp_edit-error-message {
  color: red;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  margin: 1rem;
}

.jobapp_edit-success-message {
  color: var(--secondary-text);
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}


.jobapp_edit-button-container{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-1rem, 1rem)
}

.jobapp_edit-button{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color: var(--tertiary-text);
  border: none;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

.jobapp_edit-button svg{
  width: 2rem;
}

.jobapp_edit-options-container {
  flex-direction: column;
  border: 1px solid var(--secondary-text);
  border-radius: 5px;
  background-color: var(--secondary-background);
}

.jobapp_edit-options-container .jobapp_edit-option-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}

.jobapp_edit-options-container .jobapp_edit-option-item svg {
  width: 1rem;
  height: 1rem;
}

.jobapp_edit-options-container .jobapp_edit-option-item span {
  padding-left: 0.5rem;
  flex: 1;
}

.jobapp_edit-options-container .jobapp_edit-option-item.close{
  color: var(--tertiary-text);
}

.jobapp_edit-options-container .jobapp_edit-option-item.edit{
  color: var(--primary-text);
}

.jobapp_edit-options-container .jobapp_edit-option-item.delete{
  color: red;
}


.jobapp_create-button{
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color: var(--tertiary-text);
  border-radius: 5px;
  border: 1px solid var(--primary-text);
  background-color: var(--secondary-background);
  cursor: pointer;
}

.jobapp_create-button svg{
  width: 1.5rem;
  height: 1.5rem;
}

.jobapp_create-button span{
  font-weight: 900;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.jobapp_container-create .jobapp_company {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.jobapp_container-create .jobapp_company .jobapp_company-descriptor {
  color: var(--primary-text);
  font-size: 1.5rem;
  font-weight: 900;
}

.jobapp_container-create .jobapp_company .jobapp_company-value {
  border: 1px solid var(--primary-text);
  border-radius: 5px;
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
  padding: 1rem;
  font-family: "Nunito", sans-serif;
}

.jobapp_container-create .jobapp_company .jobapp_company-value:focus,
.jobapp_container-create .jobapp_company .jobapp_company-value:active {
  outline: 3px solid var(--primary-text);
}

.jobapp_container-create .jobapp_title {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.jobapp_container-create .jobapp_title .jobapp_title-descriptor {
  color: var(--secondary-text);
  font-size: 1.25rem;
  font-weight: 900;
}

.jobapp_container-create .jobapp_title .jobapp_title-value {
  border: 1px solid var(--secondary-text);
  border-radius: 5px;
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
  padding: 1rem;
  font-family: "Nunito", sans-serif;
}

.jobapp_container-create .jobapp_title .jobapp_title-value:focus,
.jobapp_container-create .jobapp_title .jobapp_title-value:active {
  outline: 3px solid var(--secondary-text);
}

.jobapp_container-create .jobapp_description {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.jobapp_container-create .jobapp_description .jobapp_description-descriptor {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.jobapp_container-create .jobapp_description .jobapp_description-value {
  border: 1px solid var(--tertiary-text);
  border-radius: 5px;
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
  padding: 1rem;
  font-family: "Nunito", sans-serif;
}

.jobapp_container-create .jobapp_companyUrl {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.jobapp_container-create .jobapp_companyUrl .jobapp_companyUrl-descriptor {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.jobapp_container-create .jobapp_companyUrl .jobapp_companyUrl-value {
  border: 1px solid var(--tertiary-text);
  border-radius: 5px;
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
  padding: 1rem;
  font-family: "Nunito", sans-serif;
}

.jobapp_container-create .jobapp_status {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.jobapp_container-create .jobapp_status .jobapp_status-descriptor {
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
}

.jobapp_container-create .jobapp_status .jobapp_status-value {
  border: 1px solid var(--tertiary-text);
  border-radius: 5px;
  color: var(--tertiary-text);
  font-size: 1rem;
  font-weight: 900;
  padding: 1rem;
  font-family: "Nunito", sans-serif;
  background-color: white;
}

.jobapp_container-create .jobapp_description .jobapp_description-value:focus,
.jobapp_container-create .jobapp_description .jobapp_description-value:active,
.jobapp_container-create .jobapp_companyUrl .jobapp_companyUrl-value:focus,
.jobapp_container-create .jobapp_companyUrl .jobapp_companyUrl-value:active,
.jobapp_container-create .jobapp_status .jobapp_status-value:focus,
.jobapp_container-create .jobapp_status .jobapp_status-value:active {
  outline: 3px solid var(--tertiary-text);
}


.jobapp_container-create .jobapp_submit-or-cancel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.jobapp_container-create .jobapp_cancel-create-button {
  flex: 1;
  margin: 0.5rem 0.5rem 0 0;
  background-color: var(--tertiary-text);
  border: none;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  cursor: pointer;
  color: var(--primary-background);
  font-weight: 900;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
}

.jobapp_container-create .jobapp_submit-create-button {
  flex: 1;
  margin: 0.5rem 0 0 0.5rem;
  background-color: var(--secondary-text);
  border: none;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  cursor: pointer;
  color: var(--primary-background);
  font-weight: 900;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
}

.jobapp_create-error-message {
  color: red;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  margin: 1rem;
}

.jobapp_create-success-message {
  color: var(--secondary-text);
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.jobapp_description-large {
  display: none;
}


@media (min-width: 800px){

  .navbar .navbar_header {}

  .navbar .navbar_header .navbar_header-mobile,
  .navbar .navbar_dropdown {
    display: none;
  }

  .navbar .navbar_header-desktop {
    margin: 0 1rem;
    display: flex;
  }

  .navbar .navbar_header-desktop .navbar_header-desktop_link-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .navbar .navbar_header-desktop .navbar_header-desktop_link {
    margin: 0.5rem 0 0.5rem 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--secondary-text);
  }

  .navbar .navbar_header-desktop .navbar_header-desktop_link.active {
    font-weight: 900;
    color: var(--primary-text);
    text-decoration: underline;
  }

  .navbar .navbar_header-desktop .navbar_header-desktop_logout {
    margin: 0 0 0 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--tertiary-text);
    border: none;
    background: none;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
  }

  .dashboard_page {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .dashboard_page .dashboard_page-stats-container{
    display: flex;
    justify-content: space-evenly;
  }

  .jobapp_page {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .jobapp_container {

  }

  .jobapp_container > div {
    display: flex;
  }

  .jobapp_container > div > div {
    flex: 1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .jobapp_container > div > div:first-of-type {
    padding-left: 0;
  }

  .jobapp_container .jobapp_description {
     display: none;
  }

  .jobapp_container .jobapp_description-large {
    display: flex;
    flex-direction: column;
  }

  .jobapp_container .jobapp_description-large-descriptor {
    padding: 0;
    color: var(--tertiary-text);
    font-size: 0.75rem;
  }

  .jobapp_container .jobapp_description-large-value {
    padding: 0;
    color: var(--tertiary-text);
    font-size: 1rem;
    font-weight: 900;
  }

  .jobapp_container .jobapp_edit-button-container {
    padding: 0;
  }

  .jobapp_container-create {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .jobapp_container-edit {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .jobapp_edit-success-message {
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--secondary-text);
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
  }

  .note_container {
    display: flex;
  }

  .note_container .note_createdAt {
    padding-right: 0.5rem;
    flex: 1;
  }

  .note_container .note_updatedAt {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex: 1;
  }

  .note_container .note_content {
    padding-left: 0.5rem;
    flex: 4
  }

  .note_container .note_content .note_content-value{
    padding-top: 1rem;  
  }

  .signup_page .signup_page-container,
  .login_page .login_page-container {
    width: 400px;
  }

  .request-password-reset_page .request-password-reset_page-container {
    width: 400px;
  }

  .password-reset_page .password-reset_page-container {
    width: 400px;
  }

}

@media (min-width: 1200px){
  .dashboard_page {
    max-width: 1000px;
  }
  .jobapp_page {
    max-width: 1000px;
  }
}