<!DOCTYPE html>
<html lang="en">
<head>
  <style>

  </style>
</head>
<body>
  <p>Hi, {{firstName}}!</p>
  <p>Your password was reset successfully.</p>
  <p>No further action is required at this time.</p>
</body>
</html>